    <div class="category-btns d-flex flex-wrap">
        <a href="{% url 'blog:blog' %}">
          <button class="btn btn-outline-primary btn-sm {% if request.resolver_match.url_name == 'blog' %} active text-primary text-white {% endif %}">All</button>
        </a>
        {% for cat in categories %}
          {% with cat|lower as title %}
          <a href="{% url 'blog:category_post' categoryInput=title %}">
            <button class="btn btn-outline-primary btn-sm {% if request.path == '/blog/'|add:title|add:'/' %} active text-primary text-white {% endif %}">{{ cat }}</button>
          </a>
          {% endwith %}
        {% endfor %}
    </div>