{% extends "blog/snippets/base_detailpost.html" %}

{% comment %} navbar {% endcomment %}
{% block navbar %}
    {% include 'blog/snippets/nav_blog.html' %}
{% endblock navbar %}
    

{% comment %} content {% endcomment %}
{% block content %}
    <div class="container-fluid intro-section">
        <div class="intro-content">
            <p class="highlight">FOODS AND DRINKS</p>
            <h1>{{ post.title }}</h1>
            <h5>Steps</h5>
            <p>{{ post.body}}</p><br>
            <h5>Receipe</h5>
            <p>{{ post.receipes}}</p>
        </div>
        <div class="image-container">
            <img src="{{post.linkImg}}" alt="{{ post.title }}">
        </div>
    </div>
{% endblock content %}

